div#center {
    width: 400px;
    margin: 0 auto;
}

#wlSlider {
    width: 250px;
}

.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}
