div#center {
  width: 400px;
  margin: 0 auto;
}

.lab {
  display: inline-block;
  vertical-align: top;
  width: 80px;
}

.val {
  display: inline-block;
  vertical-align: top;
}

#waveSlider {
  width: 250px;
}

#veloSlider {
  width: 250px;
}

div#footer {
    position: fixed;
    bottom: 0px;
}
    
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}
